body {
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin: 0 auto;
}

#main-wrapper {
    max-width: 1250px;
    margin:auto;
    display: flex;
    flex-direction: column;
}

a {
    color: #000000;
}

header {
    display:flex;
    margin-left: 20px;
    flex-direction: column;
}

.nav-bar {
display: flex;
justify-content: space-between;
}




#logo {
    display: flex;
}

#logo img {
    width: 100px;
    height: 30px;
}

.nav-signup a {
color: #0065fc;
font-weight: bold;
}



.menu {
    display: flex;
    justify-content: flex-end;
    align-items:center;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-item {
    list-style-type: none;
    margin-right: 2rem;
    text-decoration: none;
}

.nav-list li:first-child a {
    color: #0065fc;
}
nav li a:hover {
    border-top: 3px solid #0065FC;
}
.menu a {
    text-decoration: none;
    list-style-type:none;
    padding: 10px;
}

#search {
    display: flex;
    flex-direction:column;
}

.fa-map-marker-alt {
    background-color: #F2F2F2;
    padding: 18px;
    text-align: center;
    font-size: 18px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

input[type=button] {
    width:200px;
    padding: 15px 10px;
    margin-left: -4px;
    background-color: #0065fc;
    cursor:pointer;
    flex: 1 1 100%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color:#ffffff;
    border: 2px #0065fc solid;
}

input[type=text]{
    padding: 15px 0;
    border: 2px #F2F2F2 solid;
    font-size: 18px;
    font-weight: bold;
    margin-left: -4px;
    padding-left: 10px;
}
   

#filters-container {
    display: flex;
    align-items: center;
}

#filters-container p {
    margin-right: 10px;
}

.filters {
    display: flex;
    flex-direction: row;
    align-items:baseline;    
}

.filters p {
    margin:0 10px;
}

#eco,
#romantic,
#family,
#pets {
display: flex;
border: 2px #d9d9d9 solid;
border-radius: 30px;
margin-right: 20px;
align-items: center;
}


.filters.fas fa-info
{
background-color: #deebff;
padding: 20px;
}

i.fas.fa-child,
i.fas.fa-money-bill-wave,
i.fas.fa-heart,
i.fas.fa-dog {
    color: #0065fc;
    background-color: #deebff;
    padding: 10px;
    border-radius: 30px;
}

i.fas.fa-info {
    color: #0065fc;
    padding: 10px 15px;
    border-radius: 20px;
    border: 2px #F2F2F2 solid ;
}

nav.menu ul li.btn:hover a {
    color: blue;
}

h1 {
    color: #000000;
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

h2 {
    margin: 20px 30px;
}

#hotel-container{
display: flex;
justify-content: space-between;
align-items: baseline;
}

#main-hotel {
    background-color: #f2f2f2 ;
    width: 60%;    
}

#hotels-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 30px;
}


.hotel-card {
    background-color:#ffffff;
    display: flex;
    width:30%;
    height: auto;
    flex-direction: column;
    margin: 0 6px 50px 0px;
    border-radius: 20px;
    border: 3px #ffffff solid;
    box-shadow: 0 0 6px 3px #b1b1b14b;
}

.hotel-card img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 0 0 ;

}
aside {
    background-color: #f2f2f2;
    width: 35%;
}
.aside-header {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
padding-right: 30px;
}
i.fas.fa-dog {
    justify-content: flex-end;
    align-items:center;
}

.popular-hotels-container {
display: flex;
flex-wrap: wrap;
flex-direction:column;
align-items: flex-start;
justify-content: space-between;
align-content:center;
position:relative;
margin: 0 30px;
}

.popular-hotel {
    background-color:#ffffff;
    display: flex;
    margin: 0 6px 50px 0px;
    border-radius: 20px;
    border: 3px #ffffff solid;
    box-shadow: 0 0 6px 3px #b1b1b14b;
}

.aside-popular-hotel-info {
    display:flex;
    flex-direction: column;    
    justify-content: space-between;   
}

.popular-hotel img{
    object-fit: cover;
    width: 30%;
    border-radius: 20px 0 0 20px;
}

.checked {
color:#0065fc;
}


.activities-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 400px;
    width: 100%;
    column-count: 4;
}

.activity-card-one,
.activity-card-two, 
.activity-card-three,
.activity-card-four,
.activity-card-five,
.activity-card-six {
    background-color:#ffffff;
    display:flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 0 6px 3px #b1b1b14b;
   
}

.activity-card-one,
.activity-card-column2,
.activity-card-four,
.activity-card-column4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: fit-content;
}


.activity-card-two,
.activity-card-three,
.activity-card-five,
.activity-card-six {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    max-width: 95%
}



.activities-container img {
    width: 100%;
    object-fit:contain;
    border-radius: 12px 12px 0 0;
    background-position: center;
   }

footer {
    width: 100%;
    background-color: #f2f2f2;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    padding-top:50px;
    flex-shrink: 0;
    margin: 0 auto;

}
.about {
    display: flex;
    flex-direction: column;
    width: 33%;
    list-style-type: none;
}

.accomodations {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.help {
    display: flex;
    flex-direction: column;
    width: 33%;  
}

.about-list,
.accomodations-list,
.help-list {
    list-style-type:none;    
    text-decoration: none;
    margin-block-start: 0;
    padding-inline-start: 0px;
}

footer ul li a {
    color: #000000;
    text-decoration: none;
    
}


